ion-content{
    ion-item{
        padding: 15px;
        --background: rgb(209, 203, 203);
        --border-radius: 10px;
        color: white;
        

        ion-input{
            
        }
    }
}