<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Voltar" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="full">
  <img src="{{imageSrc}}" (click)="getPicture()">
  <p (click)="getPicture()">Adicionar imagem</p>
 </div>
  <ion-item>
    <ion-label class="custom" position="stacked">Tipo do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          First Content
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Modelo do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.model"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Valor do Produto</ion-label>
    <ion-input class="custom" type="number" [(ngModel)]="product.price">R$</ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Quantidade do Produto</ion-label>
    <ion-input class="custom" type="number" [(ngModel)]="product.quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Descrição do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.description"></ion-input>
  </ion-item>
  <ion-button (click)="register()" class="ion-margin-top" color="success" expand="block">
    Cadastrar
  </ion-button>
</ion-content>
