<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="custom" position="stacked">Url do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Tipo do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Marca do produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.brand"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Modelo do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.model"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Valor do Produto</ion-label>
    <ion-input class="custom" type="number" [(ngModel)]="product.price">R$</ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Quantidade do Produto</ion-label>
    <ion-input class="custom" type="number" [(ngModel)]="product.quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="custom" position="stacked">Descrição do Produto</ion-label>
    <ion-input class="custom" type="text" [(ngModel)]="product.description"></ion-input>
  </ion-item>
  <ion-button (click)="register()" class="ion-margin-top" color="success" expand="block">
    Cadastrar
  </ion-button>
</ion-content>
