<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button mode="ios" text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngFor="let i of items | async; let first= first">
  <ion-card>
    <div class="img" align="center">
      <img src="{{i.url}}"/>
    </div>
    <div class="card">
    <ion-card-header>
      <ion-card-title>Modelo: {{i.model}}</ion-card-title>
      <ion-card-subtitle>Marca: {{i.brand}}</ion-card-subtitle>
      <ion-card-subtitle>Preço: R$ {{i.price}}</ion-card-subtitle>
      <ion-card-subtitle>Quantidade: {{i.quantity}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Descrição: {{i.description}}</ion-card-content>
    <ion-button expand="block" (click)="setOpen(true)">Editar</ion-button>
  </div>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" *ngFor="let i of items | async; let first= first">
        <ion-item>
          <img (click)="getPicture()" src="{{product.url}}"/>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Tipo do Produto</ion-label>
          <ion-input class="custom" type="text" [(ngModel)]="product.type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Marca do produto</ion-label>
          <ion-input class="custom" type="text" [(ngModel)]="product.brand"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Modelo do Produto</ion-label>
          <ion-input class="custom" type="text" [(ngModel)]="product.model"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Valor do Produto</ion-label>
          <ion-input class="custom" type="number" [(ngModel)]="product.price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Quantidade do Produto</ion-label>
          <ion-input class="custom" type="number" [(ngModel)]="product.quantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom" position="stacked">Descrição do Produto</ion-label>
          <ion-input class="custom" type="text" [(ngModel)]="product.description"></ion-input>
        </ion-item>
        <ion-button (click)="saveProduct()" class="ion-margin-top" color="success" expand="block">
          Cadastrar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
