<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let i of items | async; let first= first">
  <div class="img" align="center">
  <img src="{{i.url}}"/>
  </div>
  <ion-item>
    <ion-input type="text" placeholder="Url do Produto" [(ngModel)]="product.url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Tipo do Produto" [(ngModel)]="product.type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Marca do produto" [(ngModel)]="product.brand"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Modelo do Produto" [(ngModel)]="product.model"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Valor do Produto" [(ngModel)]="product.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Quantidade do Produto" [(ngModel)]="product.quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Descrição do Produto" [(ngModel)]="product.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{i.description}}</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button (click)="saveProduct()" class="ion-margin-top" color="success" expand="block">
    Cadastrar
  </ion-button>
</ion-content>

