ion-header{
  ion-toolbar{

    padding-top: 15px;
  }
}

ion-content{
    size-adjust: 100%;
    .label{
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.5em;
    }

   .card{
    display: flex;
    padding: 15px;
    margin: 0;
    ion-card{

        min-width: 50%;
        max-height: 100%;
        min-width: 100%;
    }
   }

   .alert{
    color: red;
   }
}

ion-footer{
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  ion-button{
    width: 10rem;

    margin: 1rem;
    --background: black;
  }

}
