<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="presentActionSheet()" slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>
  
 </ion-header>


<ion-content slot="start">     
  <ion-list *ngFor="let i of item | async; let first= first">
    	<ion-card>
        <div align="center">
          <div class="img">
            <img src="{{i.url}}"/>
          </div>
      <ion-card-header>
        <ion-card-subtitle>{{i.brand}} {{i.model}}</ion-card-subtitle>
        <ion-card-subtitle>{{i.quantity}} Unidades</ion-card-subtitle>
        <ion-card-subtitle>R${{i.price}}</ion-card-subtitle>
      </ion-card-header>
    </div>
      </ion-card>
    </ion-list>
  

</ion-content>






