<ion-header>
  <ion-toolbar>
    <ion-searchbar #input (keyup)="search(input.value)"></ion-searchbar>
    <ion-buttons (click)="presentActionSheet()" slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge>{{(item | async)?.length}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>


<ion-content slot="start">
  <ion-list *ngFor="let i of items | async; let first= first">
    <ion-card [routerLink]="['/details', i.id]">
      <div align="center">
        <div class="img">
          <img src="{{i.url}}"/>
        </div>
    <ion-card-header>
      <ion-card-subtitle>{{i.brand}} {{i.model}}</ion-card-subtitle>
      <ion-card-subtitle>{{i.quantity}} Unidades</ion-card-subtitle>
      <ion-card-subtitle>R${{i.price}}</ion-card-subtitle>
      <ion-card-subtitle class="alert" *ngIf="i.quantity<=5 && i.quantity>0">Baixo Estoque</ion-card-subtitle>
      <ion-card-subtitle class="alert" *ngIf="i.quantity===0">Sem Estoque</ion-card-subtitle>
    </ion-card-header>
  </div>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button (click)="registerPath()">
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>




