ion-header{
  ion-toolbar{
    padding-top: 15px;
    .notification-button {
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
      height: 40px;
  }

    .notifications-badge {
          background-color: red;
          position: absolute;
          top: 1px;
          right: -5px;
          border-radius: 100%;
      }

      ion-icon{
        min-height: 30px;
        min-width: 30px;
      }
  }
}

ion-content{
  --ion-background-color:#1E4C96;
    size-adjust: 100%;
    .label{
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.5em;
    }
    ion-card-subtitle{
      color: black;
    }
    ion-card{
      --ion-background-color:white;
      margin-bottom: -1rem;
    }

   .alert{
    color: red;
   }

   ion-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    ng-template{
      text-align: center;
      h4{
        margin-left: 2rem;
      }
      ion-content{
        text-align: center;
        max-height: 10px;
      }
    }
   }

}

ion-header{
  ion-toolbar{
    --background: #1E4C96;
    ion-searchbar{
      --background: white;
    }
  }
}

ion-footer{
  background: #1E4C96;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  ion-button{
    width: 10rem;

    margin: 1rem;
    --background: #347C99;
  }

}
ion-list{
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    width: 20rem;
    border: black 1px;
    text-align: center;
    ion-card{
        min-width: 50%;
        max-height: 100%;
        min-width: 100%;
    }
    .quantity{
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      ion-button{
        --border-radius: 100%;
        max-width: 30px;
        max-height: 30px;
      }
    }
   }
}
.icon{
  color: white;
}

.icon:hover{
  color: blue;
}

.close{
  --color: white;
}

ion-card-header{
  padding: 0;
}

img{
  max-width: 100px;
}
