ion-content{
    size-adjust: 60%;

    ion-list{
        ion-card{
            padding: 15px;
            align-items: center;
            .img{
                max-width: max-content;

            }
        }
    }
}